body{
margin:0px;
font-family:arial;
color:#333333;
}
a{ word-wrap: break-word;}
.bold{font-weight:bold}
.font11{font-size:10px}
.font12{font-size:12px}
 a img{
border:0;
}
.conference-topic{
	padding-top:30px;
	
	}
.minus td{color:orange}
.errormsg{ color:red}

#card_cvv{margin-left:100px;cursor:pointer;}
.help{
cursor:pointer;
margin-left:15px;

}

.hb_box{width:800px;position:absolute;padding:10px;background:#fff;border:solid 1px gray;top:200px;left:25%;display:none}
.hb_close{float:right;color:red;cursor:pointer}
a:hover{
	text-decoration:underline
}



.clear{
	clear:both;
}
.main{
width:1024px;
margin: 15px auto;


}
.date-block{
	
	
	}
.l_cat{
	cursor:pointer;
	}
.hide{ 	   
	display:none;
	}
.header{
background-image:url('images/header_bg_03.jpg');
width:1024px;
height:90px;

}
	.header-inner{
	background-image:url('images/discount.jpg');
	background-position:right top;
	background-repeat:no-repeat;
	width:1024px;
	height:90px;
	}

#edit_link,#cancel_link{cursor:pointer;display:table;margin:auto}
	.logo{
	float:left;
	width:121px;
	height:90px;
	padding-left:20px;
	}
	
	.header-middle{
	float:left;	
	height:70px;
	width:565px;
	
	}
	.header-middle-inner{
	margin:auto;
	
	width:532px;
	 
	}
	.header-right{
	float:left;	
	height:70px;
	width:100px;
	padding-top:20px;
	}
	
.wrap{
padding-top:15px;
padding-bottom:40px;
width:1022px;
border-left:solid 1px #9a9a9a;
border-right:solid 1px #9a9a9a;
	
}	
	.menu{
	margin:auto;
	
	background-image:url('images/top_menu.jpg');	
	background-repeat:no-repeat;
	width:1005px;
	
	
	}
		.menu-inner{
		width:660px;
		float:left;
		height:53px;
		}
		
			.menu ul{
				padding:0;
				margin:0;
				
			}
			.menu ul li{
				float:left;
				list-style:none;
				width:164px;
			}	
			.menu ul li a{
				text-decoration:none;
				display:block;
				text-align:center;
				line-height:53px;
				font-size:15px;
				font-weight:bold;
				color:#fff;
			}
			
			.menu ul li a:hover{
				 color:#f37022;
				}
		.login{
		width:345px;
		float:left;
		
		
		}
		
			.login-box{
			width:345px;
			position:relative;
			z-index:1;
			}
			
			
				.welcome-container{
					
					margin-top: 10px;
					position: absolute;
					right: 0;
					width: 200px;
					}
					.welcome-container .welcome {
						font-weight:bold;
						width:170px;
						font-size:12px;
						text-transform:capitalize;
						padding-right:15px;
						
						
						}
					.menu .welcome-container ul{
						width:200px;
						margin-top:5px;
						float:right;
						 
						}	
					.menu .welcome-container li{
						
						
						float:left;
						width:85px;
						padding-top:2px;
						
						
						}
						.menu .welcome-container li a input{
						
						
						 border:0;
						 background-color:transparent;
						color:#87ba40;
						cursor:pointer;
						padding:0;
						}
						.menu .welcome-container li a:hover input{
						cursor:pointer;
						padding:0;
						 border:0;
						 background-color:transparent;
						color:#F37022;
						
						}
						
						/*////////////////// PAGINATION ////////////////////////////*/
						
						
						.pagination {
						clear:both;
						padding:20px 0;
						position:relative;
						font-size:11px;
						line-height:13px;
						}
						
						.pagination span, .pagination a {
						display:block;
						float:left;
						margin: 2px 2px 2px 0;
						padding:6px 9px 5px 9px;
						text-decoration:none;
						width:auto;
						color:#fff;
						background: #555;
						}
						
						.pagination a:hover{
						color:#fff;
						background: #3279BB;
						}
						
						.pagination .current{
						padding:6px 9px 5px 9px;
						background: #3279BB;
						color:#fff;
						}
						
						/*//////////////////////////////////////////////*/
						
						
						.display-none {display:none;}
						.menu .welcome-container li a{
							color:#333;
							font-size:12px;
							line-height:12px;
							font-weight:normal;
							text-align:left;
							color:#87ba40;
							}
							
							.menu4{ font-size:12px;  
							position:absolute;
							z-index:500;
							background:#666666; 
							border: solid 1px #999 ;
							width:450px;
							color:#FFF;
							font-size:11px;
							padding:30px 10px 40px;
							 
							
							 }
							.menu .active { color:#f37022; } 
							 
				.login-container{
					background-image:url('images/login_bg.jpg');	
					background-repeat:no-repeat;
					height:25px;
					width:345px;
					margin-top:15px;
					margin-left:20px;
				}
				.login-container2{
					height:25px;
					width:324px;
					margin-top:15px;
					}
					.login-container .username{
						border: 0 none;
						display: block;
						float: left;
						margin-left: 22px;
						margin-top: 4px;
						width: 98px;
						font-weight:bold;
					}
					
					.login-container .password{
						border: 0 none;
						display: block;
						float: left;
						margin-left: 32px;
						margin-top: 4px;
						width: 98px;
						font-weight:bold;
					}
					
					
					.login-container .login-submit{
						border: 0 none;
						display: block;
						float: left;
						padding-left: 28px;
						margin-top: 4px;
						width: 70px;
						font-weight:bold;
						background:none;
						cursor:pointer;
					
					}
					.login-container-forget{
						top:35px;
						right:45px;
						width:140px;
						position:absolute;
						
						
						}
					.login-container-forget a{
						display:block;
						font-size:12px;
						color:#87ba40;
						margin-right:
						
						
						}
	
	.content{
	width:1005px;	
	margin:auto;	
	min-height:400px;
	}
	
	.td{
		float:left;
		width:160px;
		height:250px;
		
		}
	
		.left{
		width:245px;
		background-color:#666;
		color:#fff;
		float:left;
		padding-bottom:15px;
		}
		.left-scroll{
		width:245px;
		height:565px;
		overflow-y:scroll;
		overflow-x: hidden;
		min-height:350px;
		padding-top:15px;
		
		}	
		.content h2{
			text-transform:capitalize;
			width: 580px;
			}
			.left h2.title{ 
			padding:0;
			margin:0;
			background:url('images/title_bg_15.jpg');	
			background-repeat:no-repeat;
			font-size:14px;
			padding-left:3px;
			}
			.left p{
				font-size:12px;
				margin:2px;
				margin-bottom:2px;
				font-family:Arial, Helvetica, sans-serif;
				
				}
		.left .left-block{padding-left:18px;}
		
		.left-block a{
	color:#fff;
	text-decoration:none;
	
	font-size:11px;
	}
	.left-block a:hover{
	color:#fff;
	text-decoration:underline;
	font-size:11px;
	}
		.banner-left-side{}
		.right{
		width:760px;
		float:left;	
		
		}
		.featured-category-block ul,
		.course-schedule-block ul
		
		{
			padding:0;
			margin:0;
			
			}
			.course-schedule-block li
			{		
			list-style:none;
			height:130px;
			}
		.featured-category-block  li
		{
			list-style:none;
			float:left;
			width:165px;
			height:190px;
			font-size:13px;
			line-height:18px;
			margin-right:15px;
			cursor:pointer;
			
			}
			.featured-category-block  li a div
		{
		
		background-image: url("images/thumb_top_03.jpg");
		background-repeat: repeat-x;
		height:8px;
		
			
		}
		.profile_part input
		{
			background: none repeat scroll 0 0 transparent;
				border: 0 none;
			   color:#82AE3D;
			  padding:10px;
			  cursor:pointer;
			
			}
			#submitbtn{
				width:47px;
				height:29px;
				}
				.msg{
					 background: none repeat scroll 0 0 #FFFFFF;
						border: 1px solid #666666;
						color: blue;
						font-size: 11px;
						padding: 5px;
						width: 350px;
						z-index: 100;
					
					}
			.profile_wrap{
				padding-top:20px;
				padding-bottom:20px;
				
				
				}
			
			.profile_part a{
				color:#82AE3D;
  				text-decoration:none;
				
				}
			.profile_part a:hover{
				color:#82AE3D;
  				text-decoration:underline;
				
				}
			.s_read_more {
				color:#666;
				font-size:11px;
				text-decoration:none;
				position:absolute;
				bottom:5px;
				right:5px;
				}
				.s_read_more:hover{
					text-decoration:underline;
					}
			.tax_term-heading{
				padding-top:5px;
				font-size:11pt;
				font-family:tahoma;
				color:#333;
				font-weight:bold;
				padding-bottom:10px;
				}	
			.right-inner-gray{
			 margin-left:25px;
			 margin-right:25px;
			 padding:5px;
			 width:510px;
			 background-image:url('images/register_bg_10.jpg');
			
			}
			.right-inner{
			 margin-left:25px;
			 /*margin-right:25px;*/
			 padding:5px;
			 min-height:400px;
			}	
			 .thanks{
			font-size:14px;
			padding:10px;
			margin-top:50px;
			margin-bottom:50px;
			 min-height:400px;
			}
			.conference{
				/*background: url("images/cutout.jpg") ;
				
				background-repeat:repeat-y;
				background-position:right;*/
			background: #fff ;
				margin-top:-5px;
				
				margin-right:-5px;
				margin-left:-1px;
				position:relative;
				height:35px;
			margin-bottom:35px;
				}	
			.conference	.conference-title{
				width:340px;
				}
				.conference-title-single{
					width:254px;
					}
			.cutout{
				width:100px;
				height:25px;
				background:#FFF;
				float:right;
				}	
				.conference .arrow{
					float:left;
					padding-top: 5px;
background-image: url("images/register_bg_10.jpg");
 
					}
				.conference .rightarrow{
					
					padding-top: 5px;
background-image: url("images/register_bg_10.jpg");
 float:left
					}		
					.course-register {
						background: url("images/regidter_04.jpg") repeat scroll 0 0 transparent;
						border: 0 none;
						cursor: pointer;
						height: 24px;
						text-indent: -100000px;
						width: 69px;
						display:block;
						float:right;
					}
					
					.course-programinfo {
						background: url("images/program_info_03.jpg") repeat scroll 0 0 transparent;
						border: 0 none;
						cursor: pointer;
						height: 25px;
						text-indent: -100000px;
						width: 82px;
						display:block;
						float:right;
						
					}
					.slider{
					 
						 
						width:525px;
					 
						position:relative;
						
						}

.flexslider{margin-bottom:10px!important}
						.home-video{
							position:absolute;right:-115px;
							background-image:url('images/video_slide_03.jpg');
							display:block;
							width:99px;
							height:33px;
							text-indent:-5000px;
							
							}
					.course-wrap{
						width:525px;
						position::relative;
						
						
						
						}
						.course-schedule-block .course_thumb{
							margin-left:20px;
							height:100px
							
							}
							.course_thumb_single{
								float:left;
						width:180px;
							height:100px;
							margin-left:10px;	
								}
								.course-right_right
						{
						float:left;
						width:250px;
						height:100px
							}
						.conference-title-wrapper{
						margin:0;
						margin-bottom:4px;
						font-size:12px;
						
						}
						.conference-title-wrapper a{
						margin-left:10px;
						}
						
								
						.conference-detail .course_thumb{
							margin-left:20px;
							}
						.course-right
						{
						float:left;	
						margin-top:20px;
						width:250px;
							}
							
						.course-right_slide
						{
						float:left;	
						margin-top:30px;
						width:200px;
						position:relative;
						height:145px;
						line-height:20px;
							}
					.course_thumb{
						float:left;
						width:180px;
						height:130px;
						
						}
						.course-right_single{
						width:300px;
						height:130px;
						float:left;
						
						}
						.course_thumb_slider{
						float:left;
						width:320px;
						
						}
						.edit-link {display:block;text-align:right;}
					.course_thumb a{
					
						
						
						
						}
						.course_thumb a div,
						.course_thumb_single a div
						{
							height:8px;
							background-image:url('images/thumb_top_03.jpg');
						background-repeat:repeat-x;
							}
					.conference-sched-title{
						
					line-height:29px;	
					}
					.conference .arrow .move{
						display:block;
						background-image:url('images/page_slider.png');
						width:43px;
						height:31px;
						font-size:11px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						line-height:25px;
						}
						.conference .arrow a input{
							border:0;
							background:none;
							color:#fff;
							font-size:11px;
							width:35px;
						height:25px;
						cursor:pointer
						
							} 


.conference .rightarrow .move{
						display:block;
						background-image:url('images/page_slider.png');
						width:43px;
						height:31px;
						font-size:11px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						line-height:25px;
						}
						.conference .rightarrow a input{
							border:0;
							background:none;
							color:#fff;
							font-size:11px;
							width:35px;
						height:25px;
						cursor:pointer
						
							} 

						#transaction td{
							font-size:12px;
							
							}	
						#input-disable{
							
							color:#ccc;
							cursor:crosshair;
							
						
							} 	
					.conference .arrow a,.conference .rightarrow a{
						display:block;
						background-image:url('images/page_slider.png');
						width:43px;
						height:31px;
						font-size:14px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						line-height:25px;
						float:left;
						}
				.conference .info{
				 float:left;		
				min-height:35px;
					padding-left:10px;
					padding-right:10px;
					text-align:center;
					font-weight:bold;
					font-size:12px;
					padding-top:5px;
					background-image: url("images/register_bg_10.jpg");
					
					}
					.conference-detail{
						 margin-top:25px;
						 margin-bottom:15px;
						}
					.conference-thumb{
						padding-left:10px;
						padding-right:10px;	
						}
						
						.conference-address{
						font-size:14px;
						}
						
					.conference-info{
						font-weight:bold;
						font-size:12px;
						
						}	
					.conference-date{
					color:#F37022;
						}
						
						.conference-title-green ,
						.conference-title-green a{
							color:#82AE3D;
							text-decoration:underline;
							
							}
	.conference-title-green-no-underline{
							color:#82AE3D;
						 
							
							}
						.conference-video{
							text-align:right;
							font-size:12px;
							padding-right:30px;
							
							}
					.s_address{
						font-size:12px;
						font-weight:bold;
						}		
					.s_date	{
					  font-size:12px;	
					  color:#f15e1b;
					  font-weight:bold;
					 }
					 .s_title{
						 font-size:12px;
						 width:		 
					 }
					 .banner-wrap {
						 margin-top:10px;
						 margin-bottom:10px;
						 }
					 .banner-wrap p{
						margin:0;
						margin-bottom:2px;
						
					}
					.gray{background:#e9e9e9;padding:5px;height:90px}
					.banner50{ width:45%;padding:2%}
					  .banner1{
					
					 	min-height:102px;
							float:left;
					}
					.banner2{
						margin-left:10px;
						
					 
						min-height:102px;
						float:left;
						
					}	
						#lightbox {
							 display:none;
							 background:#000000;
							 opacity:0.9;
							 filter:alpha(opacity=90);
							 position:absolute;
							 top:0px;
							 left:0px;
							 min-width:100%;
							 min-height:100%;
							 z-index:1000;
						}
						
						#close-panel{
							
							background: url("images/close.png");
							cursor: pointer;
							background-repeat:no-repeat;
							height: 16px;
							position: absolute;
							right: -15px;
							top: -15px;
							width: 16px;
							z-index: 1103;
							text-decoration:none;
							
							}
						
							/* Lightbox panel with some content */
							#lightbox-panel {
							 display:none;
							 position:fixed;
							 top:100px;
							 left:20%;
							 background:#FFFFFF;
							 padding:10px 15px 10px 15px;
							 border:2px solid #CCCCCC;
							 z-index:1001;
							} 
						 
						 .seminar-register{
					
					background-color:transparent;
					background:url('images/register_03.png');
					text-indent:-100000px;
					border:0px;
					width:82px;
					height:32px;
					cursor:pointer;
					float:right;
					
					}
					#accomdation_container{
						padding:5px;
						}
					#agenda_container,
					#objective_container
					{
					display:none;	
					padding:5px;	
					}
					.tab-container{
					background:#FFF;
					font-size:12px;
					padding:5px 15px;;
					min-height:300px;
						
					}
					.tab-wrapper{
					padding:5px;	
						
					}
						 
		.registration{
			
			padding-left:10px;
			
			}				
		.registration .signin{
			color:#87ba40;	
			font-size:12px;
			display:block;
			width:240px;
		
		}
		.registration .signin input{
			
				color: #87ba40;
				display: block;
				font-size:12px;
				
				line-height: 29px;
				text-align: center;
				text-decoration: underline;
				cursor:pointer;
				background-color:transparent;
				border:0;
				
		
		}
#register .required{
			color:#949494;	
			font-size:12px;
			padding-top:10px;
		
		}
		.registration .required{
			color:#949494;	
			font-size:12px;
			padding-top:10px;
		
		}
		.registration .heading{
			
			font-weight:bold;
			font-size:12px;
			}				
			.registration .wrapper{
				padding-top:10px;
			    padding-bottom:10px;
				font-size:12px;
			}								
			
				.registration .wrapper .user_title{
					width:60px;
					float:left;
					padding-top:5px;
			
				}	
.registration .wrapper span{ display:block;margin-left:5px}
			.registration .wrapper .user_150{
					width:150px;
					float:left;
					padding-right:10px;
					padding-top:5px;
					padding-bottom:5px;
				}	
				.registration .wrapper .block_150{
					width:150px;
					padding-top:5px;
					padding-bottom:5px;
				}	
				
					.registration .wrapper .user_150 input{
						width:140px;
						
					 }
					 .registration .wrapper .user_full{
						padding-top:5px;
					    padding-bottom:5px;
						
					 }
					 
				.registration .wrapper .user_middlename{
					width:100px;
					float:left;
					padding-top:5px;
					padding-bottom:5px;
			
				}	
				.registration .wrapper .user_200{
					width:200px;
					padding-top:5px;
					padding-bottom:5px;
				}	
				
			.registration .wrapper .user_500{
					width:500px;
					padding-top:5px;
					padding-bottom:5px;
				}	
				
					.registration .wrapper .user_500 input{
					width:400px;	
					 }
					.red{color:red}
					.ok{	 display:block;
					width:20px;
					height:20px;
					background:url(images/ok.gif) no-repeat;
					}
					.page_heading{padding-left:15px}
					  #ajax_stauts,#ajax_stauts_uname{width:195px;float:left}
					.preloader{
					 display:block;
					width:20px;
					height:20px;
					background:url(images/preloader.gif) no-repeat;

					} 

					.registration .wrapper .user_500 .input input{
					width:195px;	
					float:left;
					margin-right:5px;
					 }
					 
					 .registration .wrapper .user_200 #use_credit {
					width:auto;	
					 }
					.registration .wrapper .user_middlename input{
						width:35px;
					 }
			
				.registration .wrapper .next_reg{
					float:right;
					background-color:transparent;
					background:url('images/next_03.jpg');
					text-indent:-100000px;
					border:0px;
					width:47px;
					height:29px;
					cursor:pointer
					
					
					}
				.registration .billing{
					width:480px;
					background-color:#fff;
					padding-left:5px;
					padding-right:5px;
					
					
					}	
			.registration .wrapper .submit{
					float:right;
					background-color:transparent;
					background:url('images/submit_register_07.jpg');
					text-indent:-100000px;
					border:0px;
					width:132px;
					height:24px;
					cursor:pointer
					
					}
					.registration .wrapper .submit2{
					float:right;
					background-color:transparent;
					background:url('images/submit.jpg');
					text-indent:-100000px;
					border:0px;
					width:47px;
					height:29px;
					cursor:pointer
					
					}
					.update_password{
					
						
					background-color:transparent;
					background:url('images/submit.jpg');
					text-indent:-100000px;
					border:0px;
					width:47px;
					height:29px;
					cursor:pointer	
						
					}
					
					#nextblock{
						
					display:none;	
					}
					.float-left{
						float:left;
						}
					.accom-web a{ color:#82AE3D;font-size:12px }
					.course_thumb a div{
						width:100%;
					background-image: url("images/thumb_top_03.jpg");
    				background-repeat: repeat-x;  
						}
					.accom-thumblist  a div{ 
					height:8px;
					width:100%;
					background-image: url("images/thumb_top_03.jpg");
    				background-repeat: repeat-x;  
					}
					.accom-thumblist  a{ cursor:pointer ;border:solid 2px #fff;float:left}
					.accom-thumblist  a:hover{ cursor:pointer ;border:solid 2px #999;}
					.accom-thumblist  a.active	{ cursor:pointer ;border:solid 2px #333;}
					.conference-show{display:block;}
					.conference-hide{display:none;}
					
					.conference-details{
						background-image:url('images/agenda.png');
						width:500px;
						background-repeat:no-repeat;
						}
					.conference-details-inner{
						
						height: 53px;
						width: 510px;
					}
					.conference-details-inner ul {
						
						padding:0;
						margin:0;
						}
					.conference-details-inner li{
						float:left;
						list-style:none;
						 width: 164px;
					}
					#accom {
						
						color: #f37022;
						
						}
					.conference-details-inner ul li span {
						color: #FFFFFF;
						display: block;
						font-size: 15px;
						font-weight: bold;
						line-height: 53px;
						text-align: center;
						cursor:pointer; 
					}
					 
.footer{
		width:1024px;
		height:85px;
		background:#989898;
		color:#fff;
		bottom:0;
		margin:auto;	
}		.footer-inner{
		width:994px;
		margin:auto;
			
		}
	
		.footer-left{
			width:715px;
			float:left	;margin-top: 10px;
			}
			.footer-menu{
				width:350px;
				font-size:12px; 
				margin-left:300px;
				line-height:20px;
			}
			.footer-left p{
				
				margin:2px 0;
				
				}
			.footer-left ul{
				padding:0;
				margin:0;
				
				
				}
				
				.footer-left ul li{
					float:left	;
					list-style:none;
					background-image:url('images/footer_sep_16.jpg');
					background-position:right center;
					background-repeat:no-repeat;
					padding-right:4px;
					padding-left:4px;
					text-transform:uppercase;
					
					}
					.footer-left ul li:last-child{
						background:none;
						}
						
						.footer-left ul li:first-child{
						padding-left:0px;
						}

					.footer-left ul li a{
						color:#fff;
						display:block;
						padding-right:5px;
						text-decoration:none;
						font-size:11px;
						font-weight:bold;
						}
				
			
			.footer-right{
			width:264px;
			float:left	;
			margin-top:20px;
			
			}
					.footer-right ul{
				padding:0;
				margin:0;
				background-image:url('images/social_05.jpg');
				background-repeat:no-repeat;
				background-position:right;
					height:40px;
				float:right	;
				}
				
				.footer-right ul li.google{height:30px; padding-top:8px; padding-right:10px;}
				
				.footer-right ul li{
					float:left	;
					list-style:none;
					
					
					}
					
					.footer-right ul li a{
						color:#fff;
						display:block;
						text-indent:-9000px;
						padding:5px;
						text-decoration:none;
						font-size:12px;
						width:32px;
						height:40px;
						
						}
#error{							
	background: none repeat scroll 0 0 #fff;
    border:solid 1px #666;	
	padding:5px;
	color:#F00;	
	font-size:11px;
	display:none;	
	 width: 350px;	
	 z-index:100;				
}


#error2{							
	background: none repeat scroll 0 0 #fff;
    border:solid 1px #666;	
	padding:5px;
	color:#F00;	
	font-size:11px;
	text-align:center;
	
	 z-index:100;	
margin-right:5px;			
}
#error a{
	color:#F00;	
	text-decoration:none;
	}
	
	table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.menu-footer-container {
margin-top:8px;
}
.left-block .active{
  color: #F37022;
}

					.lightbox {
							 display:none;
							 background:#000000;
							 opacity:0.9;
							 filter:alpha(opacity=90);
							 position:absolute;
							 top:0px;
							 left:0px;
							 min-width:100%;
							 min-height:100%;
							 z-index:1000;
						}
						
						.close-panel{
							
							background: url("images/close.png");
							cursor: pointer;
							background-repeat:no-repeat;
							height: 16px;
							position: absolute;
							right: -15px;
							top: -15px;
							width: 16px;
							z-index: 1103;
							text-decoration:none;
							
							}
						
							/* Lightbox panel with some content */
							.lightbox-panel {
							 display:none;
							 position:fixed;
							 top:100px;
							 left:20%;
							 background:#FFFFFF;
							 padding:10px 15px 10px 15px;
							 border:2px solid #CCCCCC;
							 z-index:1001;
							} 
							
							
							
							.noimage{
							 border:solid 1px #333;
							 display:block;
							  
							 margin:0;
							
							 color:#333;	
								
								
								}
								.topicactive{
								color:blue;
								  
								}
								.link-section .anchore {
								text-align:right;
								}
				.msg2{
					 background: none repeat scroll 0 0 #FFFFFF;
						border: 1px solid #666666;
						color: blue;
						font-size: 11px;
						padding: 5px;
						
						z-index: 100;
					
					}
					.user_register{
						min-height:350px;
					}
#error a.anchor{
    color: green;
    text-decoration: underline;
	border:0
}

.registration_leftpadding{
padding-left:20px;
}