body{
margin:0px;font-family:arial;color:#333333;font-size:100%;
}

.header{
background-image:url('images/header_bg_03.jpg');
width:100%;
 

}
.hide{display:none}
.clear{
clear:both}
.main{
width:100%;


}
	.header-inner{
	background-image:url('images/header_right_bg_06.jpg');
	background-position:right top;
	background-repeat:no-repeat;
	width:100%;
	 
	}


	.logo{
	
	 
	padding-left:5%;
	color:#fff;
	 
	}
	
	.content{
	 width:90%;
	 margin:5px auto;
	
	}
	#register .required{
			color:#949494;	
			font-size:12px;
			padding-top:10px;
		
		}
	.gray-block{
	 width:100%;
	 background-color:#e6e6e6;
	 margin:5px auto;
	padding-top:4px;
	}
	
	.info{
		width:100%;
		padding-bottom:5px;
		
		}
	.conference-sched-title{
						
					line-height:38px;
					font-weight:bold;/**/
					font-size:110%	;
					padding-left:5px;
					height:40px;
					}
					
					.arrow{
					float:left;
					width:58px;
					
					}
					.arrow .move{
						display:block;
						background-image:url('images/arrows_m.jpg');
						width:58px;
						height:38px;
						background-position:0 -2px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						
						}
						
						.arrow .back{
						display:block;
						background-image:url('images/arrows_b.jpg');
						width:58px;
						height:38px;
						background-position:0 -2px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						background-repeat:no-repeat;
						
						}	
						
						.arrow .move2 {
						display:block;
						background-image:url('images/arrows_m.jpg');
						width:58px;
						height:40px;
						background-position:0 -44px;
						text-align:center;
						color:#fff;
						text-decoration:none;
						
						}
						
						.arrow a {
						display:block;
						
						}
						.arrow a input{
							border:0;
							background:none;
							color:#fff;
							font-size:11px;
							width:58px;
						height:40px;
						cursor:pointer
						
							} 
							
							.conference-category{
							padding-left:62px;
							padding-bottom:5%;
							display:none;
							
							}
							.conference-category p{
							padding:0px;
							margin:0px;
							}
							.conference-category p a{
							color:#000;
							text-decoration:none;
							font-weight:bold;
							font-size:80%;
							}
							
							.conference-category p a:hover{
							text-decoration:underline;
							
							}
							
							
							.filter-ok{
								cursor:pointer;
								float:right;
								background:url('images/page_slider.jpg');
									width:41px;
									height:31px;
									border:0;
									color:#FFF;
									margin-bottom:5px;
									
									
								
								}
	#conference_sched_block select{
		width:90%;
		margin-bottom:10px;
		margin-left:5%;
		padding:2px;
		
		
		}						
	.featured-category-block {
	
	background:#fff;
	padding-bottom:5px;
	
	}	
	.featured-category-block2 {
	
	
	padding-bottom:5px;
	
	}						
	.featured-category-block ul,
		.course-schedule-block ul
		
		{
			padding:0;
			margin:0;
			margin-left:5%
			
			}
			.course-schedule-block li
			{		
				list-style:none;
			height:130px;
			}
		.featured-category-block li
		{
			list-style:none;
			float:left;
			width:100%;
			margin-bottom:5%;
			
			
			}
			.featured-category-block  a {
			width:95%;
			max-width:160px;
			display:block;
			
			}
		.featured-category-block a div
		
		{
		
		background-image: url("images/thumb_top_03.jpg");
		background-repeat: repeat-x;
		height:8px;
		
		max-width:165px;
			
		}	
		
		
		.featured-category-block2  a {
			width:95%;
			max-width:160px;
			display:block;
			
			}
		.featured-category-block2 a div
		
		{
		
		background-image: url("images/thumb_top_03.jpg");
		background-repeat: repeat-x;
		height:8px;
		
		max-width:165px;
			
		}
		
					
		#nextblock{	display:none;}
		.float-left{float:left;	}					
	
		.s_address{
			font-size:75%;
			font-weight:bold;
			}		
		.s_date	{
					  font-size:70%;	
					  color:#f15e1b;
					  font-weight:bold;
		}
		.m-title{
		font-size:110%;
		text-align:center
		}
		.s_title{
						 font-size:75%;
						 	 
					 }
		.course_thumb{
						float:left;
						width:60%;
						
						max-width:165px;
						}
		.course_thumb img{
						width:100%;
						max-width:165px;
						
						
						}
						.price	{
						font-size:110%;
						
						}
		.course-right_single{
						width:40%;
						height:100px;
						float:left;
						
						}
						.course-right{
						width:40%;
						height:60px;
						float:left;
						
						}
						.register-block{
						width:40%;
						height:45px;
						float:left;
						
						}	
						#accomdation_container{
						font-size:75%;
						
						}
						#accomdation_container a{
						text-decoration:none;
						color:#82AE3D;
						}										
						#accomdation_container a:hover{
						text-decoration:underline;
						color:#82AE3D;
						}
				.inner-gray{
				
				background-image: url("images/register_bg_10.jpg");
				margin-left: 2%;
				margin-right: 2%;
				
				width: 96%;
				
				}		
				.registration{
			
			padding-left:5%;
			
			}				
		.registration .signin{
			color:#87ba40;	
			font-size:75%;
			display:block;
			width:240px;
			margin-top:3px;
			margin-bottom:3px;
		
		}
		.registration .signin input{
			
				color: #87ba40;
				display: block;
				font-size:110%;
				
				line-height: 29px;
				text-align: center;
				text-decoration: underline;
				cursor:pointer;
				background-color:transparent;
				border:0;
				
		
		}
		.registration .required{
			color:#949494;	
			font-size:70%;
			padding-top:5%;
		
		}
		.registration .heading{
			
			font-weight:bold;
			font-size:70%;
			}
			select{
			display:block;
			
			
			}				
			.registration .wrapper{
				padding-top:5px;
			    padding-bottom:5px;
			}								
			
				.registration .wrapper .user_title{
					width:30%;
					float:left;
			
				}	
			.registration .wrapper .user_150{
					width:65%;
					float:left;
					padding-right:5%;
					padding-top:5px;
					padding-bottom:5px;
				}	
				.registration .wrapper .block_150{
					width:65%;
					padding-top:5px;
					padding-bottom:5px;
				}	
				.registration .wrapper .block_150 input{
						width:100%;
						
					 }
					.registration .wrapper .user_150 input{
						width:100%;
						
					 }
					 .registration .wrapper .user_full{
						padding-top:5px;
					    padding-bottom:5px;
					 }
					 
				.registration .wrapper .user_middlename{
					width:30%;
					float:left;
					padding-top:5px;
					padding-bottom:5px;
			
				}	
				.registration .wrapper .user_200{
					width:90%;
					padding-top:5px;
					padding-bottom:5px;
				}	
				
					.registration .wrapper .user_200 input{
					width:100%;	
					 }
					
					.registration .wrapper .user_200 #use_credit{
					width:auto;	
					 }
					.registration .wrapper .user_middlename input{
						width:95%;
					 }
			
				.registration .wrapper .next_reg{
					float:right;
					background-color:transparent;
					background:url('images/next_03.jpg');
					text-indent:-100000px;
					border:0px;
					width:47px;
					height:29px;
					cursor:pointer
					
					
					}	
					
					
				.registration .billing{
					width:90%;
					background-color:#fff;
					padding-left:2%;
					padding-right:2%;
					
					
					}	
			.registration .wrapper .submit{
					float:right;
					background-color:transparent;
					background:url('images/submit_register_07.jpg');
					text-indent:-100000px;
					border:0px;
					width:132px;
					height:24px;
					cursor:pointer
					
					}
					
					.update_password{
					
						
					background-color:transparent;
					background:url('images/submit.jpg');
					text-indent:-100000px;
					border:0px;
					width:47px;
					height:29px;
					cursor:pointer	
						
					}
					
					#error{							
	background: none repeat scroll 0 0 #fff;
    border:solid 1px #666;	
	padding:5px 2%;
	color:#F00;	
	font-size:70%;
	display:none;	
	 width: 90%;	
	 z-index:100;	
	 margin-top:5px;			
}

#error2{							
	background: none repeat scroll 0 0 #fff;
    border:solid 1px #666;	
	padding:5px 2%;
	color:#F00;	
	font-size:70%;
	
	 width: 90%;	
	 z-index:100;	
	 margin-top:5px;			
}

#error a{
	color:#F00;	
	text-decoration:none;
	}
	
	.msg{
		background: none repeat scroll 0 0 #FFFFFF;
						border: 1px solid #666666;
						color: blue;
						font-size: 11px;
						padding:5px 2%;
						width: 70%;
						z-index: 100;
					
					}
					
					
					.profile_wrap{
				padding-top:20px;
				padding-bottom:20px;
				
				
				}
			
			.profile_part a{
				color:#82AE3D;
  				text-decoration:none;
				
				}
			.profile_part a:hover{
				color:#82AE3D;
  				text-decoration:underline;
				
				}
				
				.profile_part input
		{
			background: none repeat scroll 0 0 transparent;
				border: 0 none;
			   color:#82AE3D;
			  padding:10px;
			  cursor:pointer;
			display:block;
			}
			.s_read_more {
				color:#666;
				font-size:70%;
				text-decoration:none;
				position:absolute;
				bottom:5px;
				right:5px;
				}
				.s_read_more:hover{
					text-decoration:underline;
					}
			.tax_term-heading{
				padding-top:20px;
				font-size:110%;
				color:#666;
				font-weight:bold;
				padding-bottom:10px;
				}	
				
				.noimage{
							 border:solid 1px #333;
							 display:block;
							  
							 margin:0;
							
							 color:#333;	
								
								
								}
								.topicactive{
								color:blue;
								  
								}
								
								
					.next_reg2{
					
					background-color:transparent;
					background:url('images/submit_register_07.jpg');
					text-indent:-100000px;
					border:0px;
					width:132px;
					height:24px;
					cursor:pointer;
					margin-left:35px;
					margin-top:20px;
					
					
					}
					.msg2 {
						background: none repeat scroll 0 0 #FFFFFF;
						border: 1px solid #666666;
						color: blue;
						font-size: 11px;
						padding: 5px;
						z-index: 100;
					}